<a href="https://colab.research.google.com/github/hasnafauziyah26/Algoritma-dan-Pemrograman/blob/main/Tugas_Pertemuan_ke_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nama: Hasna Fauziyah Rodliyana**

**NIM: H051211043**

**Latihan Halaman 26**

Buatlah program untuk menghitung penjumlahan 2 buah matriks!

In [ ]:
ordo=int(input('Masukkan ordo:'))

a=[]
print('Matriks ke-1')
for i in range(ordo):
  a.append([])
  for j in range(ordo):
    a[i].append(int(input('Masukkan elemen [%d][%d]:' %(i+1,j+1))))
  matriks.append(a)
for baris in a:
  print('\t', end=' ')
  for kolom in baris:
    print('%d\t'%kolom, end=' ')
  print()

b=[]
print('Matriks ke-2')
for i in range(ordo):
  b.append([])
  for j in range(ordo):
    b[i].append(int(input('Masukkan elemen [%d][%d]:' %(i+1,j+1))))
  matriks.append(b)
for baris in b:
  print('\t', end=' ')
  for kolom in baris:
    print('%d\t'%kolom, end=' ')
  print()

print('Penjumlahan matriks:')
plus=[]
total=0
for i in range(ordo):
  row=[]
  for j in range(ordo):
    total=a[i][j]+b[i][j]
    row.append(total)
  plus.append(row)
for i in range (ordo):
  print("\t",end=' ')
  for j in range(ordo):
    print(plus[i][j],end='\t')
  print()

Masukkan ordo:3
Matriks ke-1
Masukkan elemen [1][1]:1
Masukkan elemen [1][2]:2
Masukkan elemen [1][3]:3
Masukkan elemen [2][1]:4
Masukkan elemen [2][2]:5
Masukkan elemen [2][3]:6
Masukkan elemen [3][1]:7
Masukkan elemen [3][2]:8
Masukkan elemen [3][3]:9
	 1	 2	 3
	 4	 5	 6
	 7	 8	 9
Matriks ke-2
Masukkan elemen [1][1]:1
Masukkan elemen [1][2]:3
Masukkan elemen [1][3]:5
Masukkan elemen [2][1]:7
Masukkan elemen [2][2]:9
Masukkan elemen [2][3]:2
Masukkan elemen [3][1]:4
Masukkan elemen [3][2]:6
Masukkan elemen [3][3]:8
	 1	 3	 5
	 7	 9	 2
	 4	 6	 8
Penjumlahan matriks:
	 2	5	8
	 11	14	8
	 11	14	17

**Latihan Halaman 29-30**

1. Buatlah program untuk menghitung total pembelian N buah barang dengan harga dan jumlah tertentu

In [ ]:
barang=int(input('Banyak jenis barang:'))
jumlah=0
total=0
for i in range (barang):
  print('Jenis barang ke-'+str(i+1))
  harga=eval(input('Harga barang: Rp'))
  banyak=eval(input('Jumlah barang:'))
  total=banyak+total
  jumlah=(harga*banyak)+jumlah
print('Total pembelian %d jenis barang dengan jumlah %d buah barang adalah Rp%d'%(barang, total,jumlah))

Banyak jenis barang:4
Jenis barang ke-1
Harga barang: Rp2500
Jumlah barang:6
Jenis barang ke-2
Harga barang: Rp98800
Jumlah barang:2
Jenis barang ke-3
Harga barang: Rp5000
Jumlah barang:5
Jenis barang ke-4
Harga barang: Rp20000
Jumlah barang:3
Total pembelian 4 jenis barang dengan jumlah 16 barang adalah Rp297600

2. Buatlah program untuk menghitung banyaknya bilangan genap ataupun bilangan ganjil dari N buah bilangan yang diinput secara acak

In [ ]:
banyakbil = int(input('Input banyak bilangan: '))
genap=0
ganjil=0
for i in range (banyakbil):
  bil=int(input('Input bilangan ke-{}:'.format(str(i+1))))
  if bil%2==0:
    genap=genap+1
  else:
    ganjil=ganjil+1
print("Jumlah bilangan genap %d bilangan" %genap)
print("Jumlah bilangan ganjil %d genap" %ganjil)

Input banyak bilangan: 7
Input bilangan ke-1:11
Input bilangan ke-2:17
Input bilangan ke-3:1
Input bilangan ke-4:26
Input bilangan ke-5:13
Input bilangan ke-6:6
Input bilangan ke-7:25
Jumlah bilangan genap 2 bilangan
Jumlah bilangan ganjil 5 genap

3. Buatlah program untuk menampilkan bilangan kelipatan 3 diantara bilangan tertentu

In [ ]:
awal=int(input('Nilai awal: '))
akhir=int(input('Nilai akhir: '))
for i in range (awal,akhir+1,3):
  print(i, end=' ')

Nilai awal: 4
Nilai akhir: 90
4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88

4. Buatlah program untuk menampilkan bentuk bilangan seperti berikut ini:
Bilangan : <input suatu bilangan (misal:5)>

  1

  12

  123

  1234

  12345

In [ ]:
a=int(input('Input Bilangan:'))
for i in range (1, a+1):
  for j in range (1, i+1):
     print(j, end='')
  print()

Input Bilangan:5
1
12
123
1234
12345

5. Buatlah program untuk menghitung dan menampilkan bentuk berikut ini:

   ---

   No. Nama Mhs N.Tugas N.Kuis N.UTS N.UAS NilaiAkhir

   ---

  1

  2
  
  ..
  
  N

In [ ]:
list_no=[]
list_nama=[]
list_ntugas=[]
list_nkuis=[]
list_nuts=[]
list_nuas=[]
list_total=[]
banyak=int(input('Banyak Mahasiswa:'))
for i in range(banyak):
  print('Data ke-'+str(i+1))
  list_no.append(str(i+1))
  list_nama.append(input("Nama Mahasiswa:"))
  list_ntugas.append(int(input('Nilai Tugas:')))
  list_nkuis.append(int(input('Nilai Kuis:')))
  list_nuts.append(int(input('Nilai UTS:')))
  list_nuas.append(int(input('Nilai UAS:')))
for i in range(banyak):
  list_total.append((list_ntugas[i]+list_nkuis[i]+list_nuts[i]+list_nuas[i])/4)
print("=====================================================================")
print("No     Nama Mhs        N.Tugas N.Kuis   N.UTS   N.UAS   NilaiAkhir")
print("=====================================================================")
for i in range (banyak):
  print("%s \t %s \t\t %i \t %i \t %i \t %i \t %i" % (list_no[i],list_nama[i],list_ntugas[i],list_nkuis[i],list_nuts[i],list_nuas[i],list_total[i]))

Banyak Mahasiswa:3
Data ke-1
Nama Mahasiswa:Barry
Nilai Tugas:90
Nilai Kuis:70
Nilai UTS:80
Nilai UAS:89
Data ke-2
Nama Mahasiswa:Raddy
Nilai Tugas:87
Nilai Kuis:99
Nilai UTS:76
Nilai UAS:88
Data ke-3
Nama Mahasiswa:Fitri
Nilai Tugas:87
Nilai Kuis:90
Nilai UTS:87
Nilai UAS:90
=====================================================================
No     Nama Mhs        N.Tugas N.Kuis   N.UTS   N.UAS   NilaiAkhir
=====================================================================
1 	 Barry 		 90 	 70 	 80 	 89 	 82
2 	 Raddy 		 87 	 99 	 76 	 88 	 87
3 	 Fitri 		 87 	 90 	 87 	 90 	 88